<nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="addStoreItem">Add Product </a>
        </li>
        <li class="nav-item">
            <!-- Change this  -->
          <a class="nav-link" (click)="toAllProducts()">All Product</a>
        </li>
       
      </ul>
      
    </div>
  </nav>
<div class="tableP">
    <table class="table table-sm custom-table">
        <thead>
            <tr>
                <th scope="col" class="bg-primary">id</th>
                <th scope="col" class="bg-primary">Category</th>
                <th scope="col" class="bg-primary">Name</th>
                <th scope="col" class="bg-primary">Price</th>
                <th scope="col" class="bg-primary">Quantity</th>
                <th scope="col" class="bg-primary">Discription</th>
                <th scope="col" class="bg-primary actionBtn">Action</th>

                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let storeItems of storeItems">
                <th scope="row" class="table-light">{{storeItems.id}}</th>
                <td class="table-light">{{storeItems.category}}</td>
                <td class="table-light">{{storeItems.name}}</td>
                <td class="table-light">{{storeItems.price}}</td>
                <td class="table-light">{{storeItems.quantity}}</td>
                <td class="table-light">{{storeItems.description}}</td>
                
                <td class="table-light">
                    <button type="button" class="btn btn-outline-primary" (click)="deleteStoreItem(storeItems.id)">Delete</button>
                    <button type="button" class="btn btn-outline-info" [routerLink]="'update-Store-Item/' + storeItems.id">Update</button>
                </td>
            </tr>
         
        </tbody>
    </table>
</div>