<app-header></app-header>
<div>
    <!--Body Content-->
    <div id="page-content">
        <!--MainContent-->
        <div id="MainContent" class="main-content" role="main">
            <!--Breadcrumb-->
            <div class="bredcrumbWrap">
                <div class="container breadcrumbs">
                    <a href="index.html" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Short Description</span>
                </div>
            </div>
            <!--End Breadcrumb-->

            <div id="ProductSection-product-template"  class="product-template__container prstyle1 container">
                <!--product-single-->
                <div class="product-single">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product-details-img">

                                <div class="zoompro-wrap product-zoom-right pl-20">
                                    <div class="zoompro-span">
                                        <img class="zoompro blur-up lazyload" alt="" src="assets\images\StoreProductDiscription\cape-dress-1.jpg" />
                                    </div>


                                </div>


                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" >
                                <div class="product-single__meta">
                                    <h1 class="product-single__title" >{{ ProductDetails.get('name')?.value }}</h1>
                                    <div class="prInfoRow">
                                        <div class="product-stock"> <span class="instock "></span> <span class="outstock hide">Unavailable</span> </div>
                                        <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div>
                                        <div class="product-review"><a class="reviewLink" href="#tab2"><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star"></i><i class="font-13 fa fa-star-o"></i><i class="font-13 fa fa-star-o"></i><span class="spr-badge-caption">6 reviews</span></a></div>
                                    </div>
                                    <p class="product-single__price product-single__price-product-template" >
                                        <span class="visually-hidden">Regular price</span>

                                        <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                            <span id="ProductPrice-product-template"><span class="money">Rs:{{ ProductDetails.get('price')?.value }}
                                            </span></span>
                                        </span>
                                        <span class="discount-badge"> <span class="devider">|</span>&nbsp;
                                            <span>You Save</span>
                                            <span id="SaveAmount-product-template" class="product-single__save-amount">
                                            <span class="money">Rs:100.00</span>
                                            </span>
                                            <span class="off">(<span>16</span>%)</span>
                                        </span>
                                    </p>
                                    <div class="orderMsg" data-user="23" data-time="24">
                                        <img src="assets\images\StoreProductDiscription\order-icon.jpg" alt="" /> <strong class="items">1</strong> sold in last <strong class="time">{{ ProductDetails.get('quantity')?.value }} </strong> Stock</div>

                                    </div>
                                    <div class="product-single__description rte">
                                        <!-- Description -->
                                        <p>{{ description }}</p>
                                    </div>


                                <div id="quantity_message">Hurry! Only  <span class="items">{{ ProductDetails.get('quantity')?.value }}</span>  left in stock.</div>
                                <form method="post" action="http://annimexweb.com/cart/add" id="product_form_10508262282" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown" enctype="multipart/form-data">

                                    <div class="swatch clearfix swatch-1 option2" data-option-index="1">
                                        <div class="product-form__item">
                                          <label class="header">Quantity</label>


                                          <div data-value="M" class="swatch-element m available">
                                            <input class="swatchInput" id="swatch-1-m" type="radio" name="option-1" value="M">
                                            <label class="swatchLbl medium rectangle" for="swatch-1-m" title="M">1</label>
                                          </div>

                                        </div>
                                    </div>
                                    <p class="infolinks"> <a href="#productInquiry" class="emaillink btn"> Ask About this Product</a></p>
                                    <!-- Product Action -->
                                    <div class="product-action clearfix">




                                        <div class="shopify-payment-button" data-shopify="payment-button">
                                            <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded" (click)="gotoAddToCart()">Buy it now</button>
                                        </div>
                                    </div>
                                    <!-- End Product Action -->
                                </form>
                                <div class="display-table shareRow">
                                        <div class="display-table-cell medium-up--one-third">
                                            <div class="wishlist-btn">
                                                <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist"><i class="icon anm anm-heart-l" aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                                            </div>
                                        </div>

                                    </div>

                                <p id="freeShipMsg" class="freeShipMsg" data-price="199"><i class="fa fa-truck" aria-hidden="true"></i> GETTING CLOSER! ONLY <b class="freeShip"><span class="money" data-currency-usd="$199.00" data-currency="USD">$199.00</span></b> AWAY FROM <b>FREE SHIPPING!</b></p>
                                <p class="shippingMsg"><i class="fa fa-clock-o" aria-hidden="true"></i> ESTIMATED DELIVERY BETWEEN <b id="fromDate">Wed. May 1</b> and <b id="toDate">Tue. May 7</b>.</p>
                                <div class="userViewMsg" data-user="20" data-time="11000"><i class="fa fa-users" aria-hidden="true"></i> <strong class="uersView">14</strong> PEOPLE ARE LOOKING FOR THIS PRODUCT</div>
                            </div>
                    </div>
                </div>
                <!--End-product-single-->
                <!--Product Fearure-->
                <div class="prFeatures">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 feature">
                            <img src="assets\images\StoreProductDiscription\credit-card.png" alt="Safe Payment" title="Safe Payment" />
                            <div class="details"><h3>Safe Payment</h3>Pay with the world's most payment methods.</div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 feature">
                            <img src="assets\images\StoreProductDiscription\shield.png" alt="Confidence" title="Confidence" />
                            <div class="details"><h3>Confidence</h3>Protection covers your purchase and personal data.</div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 feature">
                            <img src="assets\images\StoreProductDiscription\worldwide.png" alt="Worldwide Delivery" title="Worldwide Delivery" />
                            <div class="details"><h3>Worldwide Delivery</h3>FREE &amp; fast shipping to over 200+ countries &amp; regions.</div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3 feature">
                            <img src="assets\images\StoreProductDiscription\phone-call.png" alt="Hotline" title="Hotline" />
                            <div class="details"><h3>Hotline</h3>Talk to help line for your question on 4141 456 789, 4125 666 888</div>
                        </div>
                    </div>
                </div>
                <!--End Product Fearure-->
                <!--Product Tabs-->



                <!--End Recently Product Slider-->
                </div>
            <!--#ProductSection-product-template-->
        </div>
        <!--MainContent-->
    </div>

</div>
<app-footer></app-footer>
